<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>
<ul>
    <li>
      <% for(let i = 0; i < start.length; i++) { %>
        <a href="/start/<%=start[i].id; %>"> <%=start[i].title%></a>
            <form action="/start/<%=i%>?_method=DELETE" method="POST">
               <button>delete</button>
               <a href="/start/<%=i%>/edit">Edit</a>
             </form>
    </li>
  <%}%>
</ul>

<%- include('./partials/footer.ejs') %>
