<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<h1>List of Threads</h1>

 <%=start.title; %>  <%=start.author; %>

 <nav>
     <a href="/start">Back to Index</a>

<%- include('./partials/footer.ejs') %>
